
body {
    background-color: #f6f8f9;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Header */

#logo {
    vertical-align: middle;
}

#logo-text {
    display: inline-block;
    vertical-align: middle;
}

.header-content {
    background-color: white;
    border-top: 1px solid lightgray;
    padding-left: 15px;
}

/* main */

.container {
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

/* Sezione buttons */
.buttons {
    border-bottom: 1px solid lightgray;
}

.btn {
    padding: 8px;
    border-radius: 7px;
}

.task-btn {
    border: 1px solid #47ADF1;
    margin: 10px 0 10px 25px;
    background-color: #47ADF1;
    color: white;
    padding: 8px;
}

.section-btn {
    border: 1px solid #c8ced3;
    background: none;
    color: #c8ced3;
}

/* Sezione tasks */

.task-section-title {
    margin-bottom: 0;
}

h2.task-section-title::before {
    content: "\25be";
}

.taks-section-content {
    margin: 10px 0 10px 25px;
}

.task::before {
    display: inline-block; /* senza questa proprietà non riesco a cambiare le dimensioni */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
    text-align: center;
}

.checked::before {
    content: "\2713";
    color: green;
    border: 1px solid green;
}

.unchecked::before {
    content: "\2715";
    color: red;
    border: 1px solid red;
}

.task::after {
    display: inline-block;
    border-radius: 20%/45%;
    margin-left: 5px;
    padding: 3px 10px;
    color: white;
    font-size: 13px;
}

.editorial::after {
    content: "Editorial";
    background-color: #45abea;
}

.goals::after {
    content: "Q1 Goals";
    background-color: #9c72e4;
}

.recluiting::after {
    content: "Recluiting";
    background-color: #65c1aa;
}

.mobile::after {
    content: "Mobile";
    background-color: #f29e33;
}

.website::after {
    content: "Website";
    background-color: #d863a1;
}

.sales::after {
    content: "Sales";
    background-color: #b0c926;
}